Trabajos Lenguaje de marcas/Trabajos XSD/tabla.xsd

<?xml version="1.0" encoding="UTF-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tabla">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member_name" maxOccurs="unbounded" type="xs:string"/>
                <xs:element name="years_membership" maxOccurs="unbounded" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>